@import "mocha.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: rgba(0, 0, 0, 0.8);
  color: @text;
}

#taskbar,
#workspaces {
  margin-left: 1rem;
}

#taskbar,
#workspaces button {
  color: @lavender;
}

#taskbar,
#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#taskbar,
#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#bluetooth,
#memory,
#cpu,
#network,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  padding: 0 0.5rem;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
}

#custom-music {
  color: @mauve;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  color: @red;
  margin-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
